body {
    background-image: url(imgs/galaxy1.webp);
    image-rendering: optimizeQuality;
    background-position: unset;
    background-size: cover;
}

* {
    font-family: cursive, bold;
}

#modal1 {
    width: 20%;
    height: 50%;
    margin-left: 35%;
    margin-top: -3%;
    border-radius: 7px;
    background-image: url(imgs/galaxy1.webp);
    border: solid 3px black;
    box-shadow:inset 1px 1px 3px azure;
    position: absolute;
}

.buttonModal {
    background-color: deeppink;
    border: solid 2px azure;
    border-radius: 10px;
    color: azure;
    
}
.buttonModal:hover {
    background-color: bisque;
}
 

.screenOfCalculator {
    border: solid 3px black;
    width: 88%;
    height: 25%;
    background-color: palevioletred;
    border-radius: 7px;
    margin-left: 6%;
    margin-top: 3%;
    font-family: cursive, bold;
    color: azure;
    font-size: 25px;
}

.buttons {
    margin-left: 6%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 10%;
    column-gap: 5px;
    row-gap: 5px;
}

.button {
    background-color: pink;
    width: 30px;
    height: 25px;
    padding: 1%;
    border-radius: 7px;
    box-shadow:inset 2px 2px 2px azure;
    font-family: cursive, bold;
}

.buttonGreen {
    background-color: greenyellow;
    width: 77px;
    height: 25px;
    padding: 2%;
    border-radius: 7px;
    box-shadow:inset 2px 2px 2px azure;
    font-family: cursive, bold;
    margin-left: 42%;
    margin-top: 52%;
    position: absolute;
}

#modal2 {
    margin-left: 60%;
    margin-top: 5%;
    width: 13%;
    height: 40%;
    border-radius: 7px;
    background-image: url(imgs/galaxy2.jpg);
    background-position: unset;
    border: solid 3px black;
    box-shadow:inset 1px 1px 3px azure;
    position: absolute;
}

.buttonsP {
    margin-left: 3%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 10%;
    column-gap: 15px;
    row-gap: 12px;
}

.screenOfPropines {
    border: solid 3px black;
    width: 88%;
    height: 25%;
    background-color: rgb(67, 148, 51);
    border-radius: 7px;
    margin-left: 6%;
    margin-top: 3%;
    color: blueviolet;
    font-size: 17px;
}

.buttonP {
    background-color: greenyellow;
    width: 30px;
    height: 20px;
    padding: 1%;
    border-radius: 7px;
    box-shadow:inset 2px 2px 2px azure;
    font-family: cursive, bold;
}
#spaceOfResult {
    width: 20%;
    height: 8%;
    position: relative;
    margin-left: 80%;
    text-align: right;
}

#imgWanda {
    width: 70px;
    height: auto;
}

.pagina {
display: grid;
grid-template-columns: 30% 70%;
}

.contieneTodo {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 50px;
}

.conteiner1 {
    background-color: aqua;
}

header {
    background-color: darkslateblue;
    border: solid 2px goldenrod;
    box-shadow: inset 10px 10px 15px;
    box-shadow: 9px 9px 12px black;
    width: 100%;
    height: 50px;
    color: azure;
    display: grid;
    grid-template-columns: 10% 10% 40% 40%;
    text-align: center;
    border-radius: 15px;
    align-items: center;
    background: transparent;
}


.titulo {
    color: azure;
    font-family: cursive, bold;
    font-size: 30px;
}

.texto1 {
    color: azure;
    font-family: cursive, bold;
    font-size: 18x;
}